:root {
  --dark-bg1: #2A6434;
  --dark-bg2: #557D35;
  --dark-bg3: #B98E39;
}

body.dark-mode {
  background: linear-gradient(to top right, var(--dark-bg1), var(--dark-bg2), var(--dark-bg3));
}

.dark-mode .heading{
    color: white;
}

.dark-mode *{
    border-color: #FFC300;
}