@media (max-width: 900px) {
    select{
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    .box p{
        font-size: 0.8rem;
    }

    input{
        font-size:1rem;
    }

    .field{
        font-size:1.2rem;
    }

    .converter{
        width: 90%;
    }

    .heading {
        font-size: 2rem;
    }

    .box{
        justify-content: center;
        gap: 2rem;
    }

    .dropdown{
        flex-direction: column;
        gap: 2rem;
    }
}

/* Mobile screens (≤ 600px) */
@media (max-width: 600px) {

    .heading {
        font-size: 1.6rem;
    }

    .dropdown{
        flex-direction: column;
        gap: 2rem;
    }
}


/* Extra Small Devices (≤ 400px) */
@media (max-width: 400px) {
    .heading {
        font-size: 1.6rem;
    }

    .dropdown{
        flex-direction: column;
        gap: 2rem;
    }

    .converter{
        width: max-content;
    }
}