*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PlayFair Display';
    color: var(--font-color);
}

@font-face {
    font-family: 'Playfair Display'; /* Fixed font name */
    src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --bgcolor2:#AAF683;
    --bgcolor1:#60D394;
    --bgcolor3:#FFD97D;
}

body{
    min-width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background: linear-gradient(to top right, var(--bgcolor1), var(--bgcolor2), var(--bgcolor3));
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    padding: 1rem;
}

.heading{
    font-size:2.5rem;
    font-weight: bold;
}

.converter{
    max-width:100%;
    background-color:rgb(0,0,0,0.5);
    padding: 2rem;
    min-width: 60%;
    height: max-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0.25rem 1rem 0.25rem rgba(0,0,0,0.5);
}

#toggle{
    align-self:end;
    color: #FFC300;
    font-size: 1.5rem;
    cursor: pointer;
}

.field{
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color:white;
}

input{
    height: 3rem;
    border-radius: 5rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    color: black;
    border: #60D394 0.2rem solid;
    background-color:rgb(0,0,0,0.5);
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

input::placeholder{
    color: white;
    overflow-x: hidden;
}

.dropdown{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items:center;
}

.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.box p{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.exchange{
    align-self: center;
}

select{
    padding: 0.7rem;
    background: transparent;
    color: white;
    border: #60D394 0.15rem solid;
    cursor: pointer;
    width: max-content;
    height: max-content;
    border-radius: 1rem;
    background-color:rgb(0,0,0,0.5);
}

button{
    cursor: pointer;
    background-color: #FFC300;
    font-size: 1rem;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    
}

.exchange{
    width: 50%;
    transition: all 0.3s ease-in-out;
}

.exchange:hover{
    width: 100%;
}